{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/auth.css' %}">
{% endblock %}

{% block body %}
<div class="a-block-center">
  <a class="header-title" href="{% url 'todolist:index' %}">
    <img class="logo" src="{% static 'accounts/img/icon.png' %}" alt="アイコン">
    <h1>タスク管理アプリ</h1>
  </a>
</div>

<div class="auth-main">
  <div class="a-box">
    <div class="auth-title">
      <h2>{% trans "Account Inactive" %}</h2>
    </div>
  </div>
  <p>{% trans "This account is inactive." %}</p>
</div>
{% endblock %}
