{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/auth.css' %}">
{% endblock %}


{% block body %}
<div class="a-block-center">
  <a class="header-title" href="{% url 'todolist:index' %}">
    <img class="logo" src="{% static 'accounts/img/icon.png' %}" alt="アイコン">
    <h1>タスク管理</h1>
  </a>
</div>

<div class="auth-main">
  <div class="a-box">
    <div class="auth-title">
      <h2>{% trans "Password Reset" %}</h2>
    </div>
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        メールを送信しました。<br>
        受信していない場合は、迷惑メール フォルダを確認してください。<br>
        数分経っても届かない場合はご連絡ください。<br>
    </p>
  </div>
</div>
{% endblock %}
