@charset "UTF-8";

/* 共通部分
-------------------------------------*/
html {
    font-size: 100%;
}
body {
    /* font-family: "afasda"; */
    line-height: 1.7;
    color: #1d1d1f;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* FOOTER
----------------------------------------------------------------------- */
footer {
    text-align: center;
    margin-top: 2rem;
    box-sizing: border-box;
}
.a-divider {
    height: 4rem;
    margin-bottom: -2rem;
    background: linear-gradient(to bottom,rgba(0,0,0,.2),rgba(0,0,0,.03),3px,transparent);
    z-index: 0;
    box-sizing: border-box;
}
.a-divider::after {
    display: block;
    width: 100%;
    height: 4rem;
    background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
    z-index: 1;
    box-sizing: border-box;
    content: "";
}